# === Java & Gradle ===
*.class
*.jar
*.war
*.log
*.tmp
*.hprof

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# === Spring Boot ===
*.iml
application.properties
application.yml
application-*.yml
application-*.properties
.env

# === IntelliJ IDEA ===
.idea/
*.iws
*.ipr
*.iml
out/

# === STS (Spring Tool Suite) ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# === VS Code ===
.vscode/

# === NetBeans ===
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === OS ===
.DS_Store
Thumbs.db

#
src/main/resources/application-secret.properties

